# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store9
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.agent

# Security (สำคัญมาก! ต้องมีเพื่อกัน Key หลุด)
.env
.env.local
*.env